<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestAuth</title>
</head>
<body>
    <div class="container">
        <h1>Now you can see me</h1>
        <p> <%= CurrUser.email %></p>
        <div class="btn">
            <a href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>