@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
.sp {
  background-position: center;
  background-size: cover;
  background-position: center;
}
img {
  border: 2px solid white;
  box-shadow: 0px 5px 10px 0px crimson;
  transition: all ease 0.2s;
}

img:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px crimson;
}
.bg23 {
  background-color: #232323;
}
