<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="../../assets/logo.png"
                    style="width: 150px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">
                    We are The Po<span>s</span>s Team
                  </h4>
                </div>

                <form (submit)="onSignUp(signupForm)" #signupForm="ngForm">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="userEmail"
                      ngModel
                      class="form-control"
                      placeholder="Enter email"
                      #userEmailInput="ngModel"
                      required
                      email
                    />
                    <label class="form-label">email</label>
                    <p
                      class="form-text text-danger"
                      *ngIf="userEmailInput.invalid"
                    >
                      Please Enter valid Email
                    </p>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="userName"
                      ngModel
                      class="form-control"
                      placeholder="UserName"
                      #userNameInput="ngModel"
                      required
                    />
                    <label class="form-label">Username</label>
                    <p
                      class="form-text text-danger"
                      *ngIf="userNameInput.invalid"
                    >
                      Please Enter valid UserName
                    </p>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      name="userPassword"
                      ngModel
                      class="form-control"
                      placeholder="Password"
                      #userPasswordInput="ngModel"
                      required
                    />
                    <label class="form-label">Password</label>
                    <p
                      class="form-text text-danger"
                      *ngIf="userPasswordInput.invalid"
                    >
                      passwoed at least 5 characters
                    </p>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block log fa-lg gradient-custom-2 mb-3 me-3 border-0"
                      type="submit"
                    >
                      sign up
                    </button>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">have an account?</p>
                    <a routerLink="/login" class="btn btn-outline-danger">
                      login
                    </a>
                  </div>
                </form>
                <h3
                  class="alert alert-danger m-3"
                  role="alert"
                  *ngIf="ermsg.length != 0"
                >
                  {{ ermsg }}
                </h3>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="medium mb-0 text-white">
                  Join our growing community of satisfied customers and
                  experience the joy of online shopping with [Your e-commerce
                  website name]. Start browsing now and let us help you find the
                  perfect products to meet your needs, style, and budget. Happy
                  shopping!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
